@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Overpass, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

ul li {
  list-style-type: none;
}

h2 {
  margin-bottom: 0;
}

h1 {
  color: #fff;
}

body {
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
}

li:nth-child(2) {
  border-bottom: 2px solid rgba(255, 255, 255, .5);
}

li:first-child {
  border-bottom: 2px solid rgba(255, 255, 255, .5);
}

li {
  color: #fff;
}

.btn {
  color: #fff;
  border-color: #fff;
}

@media only screen and (min-width: 60em) {

  li:nth-child(2) {
    border-right: 2px solid rgba(255, 255, 255, .5);
    border-bottom: 0;
  }

  li:first-child {
    border-right: 2px solid rgba(255, 255, 255, .5);
    border-bottom: 0;
  }
}
